:root {
	//Colors

	//Primary

	--Tomato: hsl(4, 100%, 67%);

	//Neutral

	--Dark-Slate-Grey: hsl(234, 29%, 20%);
	--Charcoal-Grey: hsl(235, 18%, 26%);
	--Grey: hsl(231, 7%, 60%);
	--White: hsl(0, 0%, 100%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
}
body {
	background-color: var(--Charcoal-Grey);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}
.container {
	// display: none;
	display: flex;
	justify-content: space-between;
	//align-items: center;
	padding: 2rem;
	height: max-content;
	width: max-content;
	background-color: var(--White);
	//flex-direction: row;
	border-radius: 2rem;
	@media only screen and (max-width: 34.375em) {
		flex-direction: column-reverse;
	}
	&__content {
		width: 40rem;
		color: var(--Charcoal-Grey);
		padding: 2rem 2rem;
		&--h1 {
			text-align: center;
			padding-bottom: 0.8rem;
			font-size: 3rem;
			color: var(--Dark-Slate-Grey);
			font-weight: 700;
		}
		&--paragraph {
			font-size: 1.5rem;
			display: inline-block;
			margin: -2rem 0;
			font-weight: 400;
			padding-bottom: 2rem;
		}
	}
	&__features {
		padding: 1rem 2rem;

		&--list {
			list-style: none;
			display: flex;
			padding: 0;
		}
		&--paragraph {
			padding-left: 2rem;
			font-size: 1.5rem;
			font-weight: 400;
		}
	}
	.form {
		display: flex;
		flex-direction: column;
		max-width: 30rem;
		width: 80%;
		margin-left: 2rem;
		padding-top: 3rem;
		position: relative;
		label {
			color: var(--Charcoal-Grey);
			font-size: 1.2rem;
			font-weight: 400;
		}
		.email {
			padding: 0.8rem 1rem;
			border-color: none;
			margin-bottom: 2rem;
			border-radius: 3px;
			border: 1px solid grey;
			cursor: pointer;
			&:active {
				border: 1px solid var(--Dark-Slate-Grey);
			}
		}
		.result {
			color: crimson;
			position: absolute;
			top: 3rem;
			right: 0;
		}
		.btn {
			padding: 1rem 0;
			background-color: var(--Dark-Slate-Grey);
			border: none;
			color: #fff;
			border-radius: 3px;
			cursor: pointer;
			transition: all 0.3s;
			&:hover {
				box-shadow: 0 1rem 1rem var(--Tomato);
				transform: translateY(-0.5rem);
				background-image: linear-gradient(to right, crimson, var(--Tomato));
			}
			&:active {
				transform: translateY(0.5rem);
				background-image: linear-gradient(to right, crimson, var(--Tomato));
				box-shadow: 0 0.5rem 1rem var(--Tomato);
			}
		}
	}

	.mainpic {
		max-width: 35rem;
		width: 100%;
		@media only screen and (max-width: 34.375em) {
			max-height: 100rem;
			 height: 100%;
            //  max-width: 50rem;
            //  width: 70%;
            padding-top: 3rem;            
		}
	}
}

.success {
	display: none;
	padding: 3rem 4rem;
	border-radius: 2rem;
	background-color: var(--White);
	height: max-content;
	width: 30rem;
	&__marker {
		padding: 1.5rem 0;
	}
	&__header {
		font-size: 3rem;
		font-weight: 700;
		color: var(--Dark-Slate-Grey);
	}
	&__paragraph {
		color: var(--Charcoal-Grey);
		font-size: 1.3rem;
		font-weight: 400;
		padding: 2rem 0;
	}
	&__btn {
		padding: 0.8rem 5.5rem;
		border: none;
		color: var(--White);
		background-color: var(--Dark-Slate-Grey);
		cursor: pointer;
		border-radius: 5px;
		transition: transform 0.3s;
		&:hover {
			box-shadow: 0 1rem 1rem var(--Tomato);
			transform: translateY(-0.5rem);
			background-image: linear-gradient(to right, crimson, var(--Tomato));
		}
		&:active {
			transform: translateY(0.5rem);
			background-image: linear-gradient(to right, crimson, var(--Tomato));
			box-shadow: 0 0.5rem 1rem var(--Tomato);
		}
	}
}
